################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/ControlAsistencia_/obj/Debug/netstandard2.0/ControlAsistencia_.csproj.AssemblyReference.cache
