@{
    ViewData["Title"] = "";

    var error = ViewData["error"];
}

<link rel="stylesheet" href="~/css/index.css" />
<div>
    <div class="row  mt-5">
        <div class="col-3"></div>
        <div class="col-6 ">
            <div class="text-center">
                @*<img src="~/img/LogoFiscalia.png" alt="Alternate Text" />*@
            </div>
            <form asp-controller="Home" asp-action="BuscarCurp" method="post" class="rounded mt-3 pt-5 pb-5 px-3 bg-light" style="border: solid 5px #D2D2D2 " >
                <h4 class="text-center text-secondary mb-5">Reporte Asistencias</h4>
                <div class="form-group">
                    <label class="text-secondary">Ingrese su Curp</label>
                    <input class="form-control" id="curp" type="text" name="curp" value="" required />
                </div>

                @{
                    if (error.Equals(true))
                    {
                        <div class="alert alert-warning alert-dismissible fade show" style="font-size:12px" role="alert">
                            <strong>Lo sentimos!</strong> No hay algun registro con este CURP.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }

                <div class="text-center">
                    <button type="submit" class="consultar pl-5 pr-5 py-3">Consultar</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<script src="~/js/index.js" asp-append-version="true"></script>