body {
    background-image: url('../img/background-large.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

button {
    background-color: #D3B150;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0;
    border-radius: 3px;
    /*  width: 100%;*/
}