@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control Asistencias - Administrador</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img id="logo_inicio" src="~/img/Logotipo_institucional_500.png"  class="d-inline-block align-top" alt="">
                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Personal" asp-action="Inicio">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Asistencias" asp-action="Inicio">Asistencias</a>
                    </li>
                    @if (User.IsInRole("77a225a3-1266-4b1f-b11c-504969afa856"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Usuarios" asp-action="Inicio">Usuarios</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Acceso" asp-action="Salir">Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #515359;">
        <div class="container">
            <div class="row">
                <div class="col text-center text-white">
                    <a title="Fiscalia General del Estado" target="_blank" alt="Para mayor información por favor visita nuestra página:" href="https://fiscalia.puebla.gob.mx">
                        <img src="~/img/Logo500_White.png"  class="mt-4 w-50" />
                    </a>
                </div>
                <div class="col text-center text-white">
                    <br />
                    <h5>Ubicación</h5>
                    <hr />
                    <p>
                        <small>
                            Boulevard Héroes del 5 de Mayo 31 Oriente,
                            <br /> Ladrillera de Benítez, 72530 Puebla, Pue. MX
                            <br />
                        </small>
                    </p>
                </div>
                <div class="col text-center text-white">
                    <br />
                    <h5>Contacto</h5>
                    <hr />
                    <p>
                        <small>222 211 7800 | 222 211 7900</small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
