@using ControlAsistencia_.Models;
@{
    ViewData["Title"] = "Personal";
    //List<TablaAsistenciasUnidad> tabla = (List<TablaAsistenciasUnidad>)ViewData["tabla"];
    //var FechaActual = ViewData["fecha"];
}

<link rel="stylesheet" href="~/css/personal.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <h5 id="titulo" class="text-center py-3 rounded mt-4">Asistencias</h5>


</div>


@*<script src="~/js/asistencias.js" asp-append-version="true"></script>*@


