@using ControlAsistencia_.Models;
@{
    ViewData["Title"] = "";

}

<link rel="stylesheet" href="~/css/personal.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <h5>Asistencias Inicio</h5>
</div>



