@{
    ViewData["Title"] = "Administrador";
}

<link rel="stylesheet" href="~/css/index.css" />
<div class="mt-5 pt-5">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col">
            <div class="card mb-3 text-center ">
                <img class="card-img-top w-50 mx-auto mt-3" src="~/img/empleado.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title border rounded "><a class="btn w-100 btn-light enlace"  asp-controller="Personal" asp-action="Personal">Personal</a></h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 text-center ">
                <img class="card-img-top w-50 mx-auto mt-3" src="~/img/reloj.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title border rounded "><a class="btn w-100 btn-light enlace" href="#">Asistencias</a></h5>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>